<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p>
                I’m very much a people person, lover of French Bulldogs, world explorer (traveller more like) and I’ve always had a keen interest in the tech world. This love of tech started out from an early age at high school where we played around with Pascal (even though that was short lived, only a couple classes) and then moving onto my early career as a Desktop Support Engineer. 
                <br>
                <br>    
                But my real passion for coding came when I retired as a Money Broker and started my own online business. 
                <br>
                I loved playing around with my website, making small changes to how it looked and even though I wasn’t a full fledged coder I wanted to delve deeper and to forge my career as a Web Developer. So in September 2015 I took the opportunity to further my knowledge and enrolled in the General Assembly WDI bootcamp. </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">What Can I Offer?</a>
            </div>
        </div>
    </div>
</section>
