<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="head-shot">
                <img src="../img/garethg_binoc.jpg">
            </div>
            <h1>Web Developer</h1>
            <hr>
            <p>Self motivated Web Developer who has a passion for building great looking websites. <br><i class="fa fa-heart"></i>'s French Bulldogs, craft beer, eggs benedict and coffee</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>