<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" data-toggle="modal" data-target="#DevignHunt" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                WDI-16 Project Four
              </div>
              <div class="project-name">
                Devign Hunt
              </div>
            </div>
          </div>
        </a>
        <div id="DevignHunt" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="projectTitle modal-title">Devign Hunt</h4>
              </div>
              <div class="modal-body">
                <p>My final project was to build a meet-up style website for freelance designers and developers to find other freelancers to work together on their individual projects and to share their ideas for projects.</p>
                <p class="text-muted">The project was built on a Mean stack using AngularJS, Node.js, Express and MongoDB. Utilizing Passport for local authentication, running the back-end API on Heroku and hosting the front-end on Github pages.</p>
               <!--  <p class="text-muted">Node.js, Express, Passport, AngularJS, HTML5, CSS3.</p> -->
                <p><a href="https://garethg.com/devign-frontend" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/devign-frontend" class="btn btn-primary" role="button" target="_blank">View Front-end Code</a> <a href="https://github.com/ggomersall/devign-api" class="btn btn-primary" role="button" target="_blank">View Back-end Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" data-toggle="modal" data-target="#PrattleChat" class="portfolio-box">
          <img src="img/portfolio/prattle_chat.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                WDI-16 Hackathon
              </div>
              <div class="project-name">
                Prattle Messenger
              </div>
            </div>
          </div>
        </a>
        <div id="PrattleChat" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="projectTitle modal-title">Prattle Messenger</h4>
              </div>
              <div class="modal-body">
                <p>'Prattle' Messenger is a cross-platform instant messaging application that allows iPhone, Android, Windows Phone and smartphone users to exchange text messages for free. 
                Prattle was created by: <a href="https://github.com/amogower">Andrew Gower</a>, <a href="https://github.com/ggomersall">Gareth Gomersall</a>, <a href="https://github.com/ali-andrews">Alexandra Andrews</a> & <a href="https://github.com/KwakesProject">Kwakes Prempeh</a></p>
                <p class="text-muted">Prattle is built in rails with devise for authentication using private_pub and faye for socketChat. It also stores conversations in Postgresql.</p>
               <!--  <p class="text-muted">Node.js, Express, Passport, AngularJS, HTML5, CSS3.</p> -->
                <p><a href="https://prattlechat.herokuapp.com/" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/prattle" class="btn btn-primary" role="button" target="_blank">View The Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" data-toggle="modal" data-target="#PlannerrApp" class="portfolio-box">
          <img src="img/portfolio/plannerr_app.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                WDI-16 Project Three
              </div>
              <div class="project-name">
                Plannerr App
              </div>
            </div>
          </div>
        </a>
        <div id="PlannerrApp" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="projectTitle modal-title">Plannerr App</h4>
              </div>
              <div class="modal-body">
                <p>This was the first official group project during the GA course. We chose to build a mobile first event app that allowed users to sign up and login using their Facebook credentials. <br>The user can create an event and invite their friends, allowing each friend to suggest a different activity by utilising the Google Maps API.</p>
                <br>
                <p>The project is still being further developed withe the addition of AngularJS and incorporating Ionic and Cordova to make it a hybrid mobile app.<br>Plannerr was created by: <a href="https://github.com/finncavanagh">Finn Cavanagh</a>, <a href="https://github.com/ggomersall">Gareth Gomersall</a>, <a href="https://github.com/Adam-Greenfield">Adam Greenfield</a> & <a href="https://github.com/benalun-jones">Ben Alun-Jones</a></p>
                <p class="text-muted">This was built using Node.js, Express and MongoDB. Utilizing facebook for social authentication, running the back-end API on Heroku and hosting the front-end on Github pages.</p>
                <p><a href="http://finncavanagh.github.io/Plannerr-Client/" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/Plannerr-Client" class="btn btn-primary" role="button" target="_blank">View Front-end Code</a> <a href="https://github.com/ggomersall/plannerr-api" class="btn btn-primary" role="button" target="_blank">View Back-end Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" data-toggle="modal" data-target="#DeskBrews" class="portfolio-box">
          <img src="img/portfolio/deskbrews_home.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                WDI-16 Project Two
              </div>
              <div class="project-name">
                Deskbrews
              </div>
            </div>
          </div>
        </a>
        <div id="DeskBrews" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="projectTitle modal-title">DeskBrews</h4>
              </div>
              <div class="modal-body">
                <p>One of my goals when choosing project 2 for WDI, was to learn how to use payment methods, one in particular Stripe, as I feel they are the fastest growing merchant provider and one of the easiest to implement (as I learnt during the development of this app).I wanted to create an app that will allow users to sign up and be able to order a product online within a few simple steps, and incorporate a seemless payment integration as well.</p>
                <p>The intended audience is mainly for companies wanting to celebrate the end to a productive week with their staff, as well as saying a special thanks for their hardwork (and maybe even to help inspire new ideas for the following week) by sharing a beer or two in the office, hence the name DeskBrews.<br>The app is responsive, thanks to the use of Bootstrap, and the payment process with stripe is mobile formatted as well, so it's easy enough to use on a mobile device or tablet. </p>
                <p class="text-muted">The app was built using Ruby on Rails, and utilizes the Stripe API for payment processing</p>
               
                <p><a href="https://deskbrews.com" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/WDI-PROJECT-2" class="btn btn-primary" role="button" target="_blank">View The Code</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/duck_hunter.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                WDI-16 Project One
              </div>
              <div class="project-name">
                Duck Hunter
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/garethg_website.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                My Personal Site
              </div>
              <div class="project-name">
                garethg.com
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- portfolio grid to go here -->
      <!-- {% for post in site.posts %} -->
        <!-- <div class="col-lg-4 col-sm-6">
          <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box portfolio-link" data-toggle="modal">
            <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  {{ post.title }}
                </div>
                <div class="project-name">
                  {{ post.subtitle }}
                </div>
              </div>
            </div>
          </a>
        </div> -->
      <!-- {% endfor %} -->
    </div>
  </div>
</section>
