<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#MedicAnimal" class="portfolio-box">
                    <img src="img/portfolio/medicanimal.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Developer
                            </div>
                            <div class="project-name">
                                MedicAnimal
                            </div>
                        </div>
                    </div>
                </a>
                <div id="MedicAnimal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="projectTitle modal-title">MedicAnimal</h4>
                            </div>
                            <div class="modal-body">
                                <p>This was my first commercial role as a Web Developer - I started off as a Junior Developer quickly progressing to become a Mid Front-end Developer.
                                    <br> In the two years that i've worked at MedicAnimal i've helped with the process of moving a seperated mobile and desktop website to be fully responsive, implemented a DPD local pickup service, built a survey poll
                                    and pet symptom checker and a in-house node application that plots out customers with the UK to their closets animal shelter.
                                </p>
                                <p class="text-muted">Tehnologies and Platforms used: Hybris, Node, Java, Javascript, HTML, LESS, jQuery, MongoBD, MySQL</p>
                                <div class="text-center">
                                    <p><a href="https://medicanimal.com" class="btn btn-primary" role="button" target="_blank">Visit Website</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#DevignHunt" class="portfolio-box">
                    <img src="img/portfolio/devign_hunt.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                WDI-16 Project Four
                            </div>
                            <div class="project-name">
                                Devign Hunt
                            </div>
                        </div>
                    </div>
                </a>
                <div id="DevignHunt" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="projectTitle modal-title">Devign Hunt</h4>
                            </div>
                            <div class="modal-body">
                                <p>My final project was to build a meet-up style website for freelance designers and developers to find other freelancers to work together on their individual projects and to share their ideas for projects.</p>
                                <p class="text-muted">The project was built on a Mean stack using AngularJS, Node.js, Express and MongoDB. Utilizing Passport for local authentication, running the back-end API on Heroku and hosting the front-end on Github pages.</p>
                                <div class="text-center">
                                    <p><a href="http://garethg.com/devign-frontend/#/" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/devign-frontend" class="btn btn-primary" role="button" target="_blank">View Front-end Code</a>                                        <a href="https://github.com/ggomersall/devign-api" class="btn btn-primary" role="button" target="_blank">View Back-end Code</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#PrattleChat" class="portfolio-box">
                    <img src="img/portfolio/prattle_chat.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                WDI-16 Hackathon
                            </div>
                            <div class="project-name">
                                Prattle Messenger
                            </div>
                        </div>
                    </div>
                </a>
                <div id="PrattleChat" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="projectTitle modal-title">Prattle Messenger</h4>
                            </div>
                            <div class="modal-body">
                                <p>'Prattle' Messenger is a cross-platform instant messaging application that is the product of a WDI-16 24 hour Hack-a-thon. The app is responsive to allow users to access it on desktop or on the go using a smartphone. Prattle
                                    was created by: <a href="https://github.com/amogower" target="_blank">Andrew Gower</a>, <a href="https://github.com/ggomersall" target="_blank">Gareth Gomersall</a>, <a href="https://github.com/ali-andrews" target="_blank">Alexandra Andrews</a>                                    & <a href="https://github.com/KwakesProject" target="_blank">Kwakes Prempeh</a></p>
                                <p class="text-muted">Prattle is built in rails with devise for authentication using private_pub and faye for socketChat. It also stores conversations in Postgresql.</p>
                                <div class="text-center">
                                    <p><a href="https://prattlechat.herokuapp.com/" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/prattle" class="btn btn-primary" role="button" target="_blank">View The Code</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#PlannerrApp" class="portfolio-box">
                    <img src="img/portfolio/plannerr_app.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                WDI-16 Project Three
                            </div>
                            <div class="project-name">
                                Plannerr App
                            </div>
                        </div>
                    </div>
                </a>
                <div id="PlannerrApp" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="projectTitle modal-title">Plannerr App</h4>
                            </div>
                            <div class="modal-body">
                                <p>This was the first official group project during the GA course. We chose to build a mobile first "event" app that allowed users to sign up and login using their Facebook credentials. </p>
                                <p><strong>Concept:</strong> Users can create an event and invite their friends, allowing each friend to suggest a different activity by utilising the Google Maps API.<br>
                                    <strong>Audience:</strong> Social savvy users who are looking for an app to arrange events and activities with their friends, without the clutter of irrelevant chat - Introducing <strong>Plannerr</strong></p>

                                <p>The project is still being further developed with the addition of AngularJS and incorporating Ionic and Cordova to make it a hybrid mobile app.<br>Plannerr was created by: <a href="https://github.com/finncavanagh" target="_blank">Finn Cavanagh</a>,
                                    <a href="https://github.com/ggomersall" target="_blank">Gareth Gomersall</a>, <a href="https://github.com/Adam-Greenfield" target="_blank">Adam Greenfield</a> & <a href="https://github.com/benalun-jones" target="_blank">Ben Alun-Jones</a></p>
                                <p class="text-muted">This was built using Node.js, Express and MongoDB. Utilizing facebook for social authentication, running the back-end API on Heroku and hosting the front-end on Github pages.</p>
                                <div class="text-center">
                                    <p><a href="http://finncavanagh.github.io/Plannerr-Client/" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/Plannerr-Client" class="btn btn-primary" role="button"
                                            target="_blank">View Front-end Code</a> <a href="https://github.com/ggomersall/plannerr-api" class="btn btn-primary" role="button" target="_blank">View Back-end Code</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#DeskBrews" class="portfolio-box">
                    <img src="img/portfolio/deskbrews_home.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                WDI-16 Project Two
                            </div>
                            <div class="project-name">
                                Deskbrews
                            </div>
                        </div>
                    </div>
                </a>
                <div id="DeskBrews" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="projectTitle modal-title">DeskBrews</h4>
                            </div>
                            <div class="modal-body">
                                <p>One of my goals when choosing project 2 for WDI, was to learn how to use payment methods, one in particular <strong>Stripe</strong>, as I feel they are the fastest growing merchant provider and one of the easiest to implement
                                    (as I learnt during the development of this app). I wanted to create an app that will allow users to sign up and be able to order a product online within a few simple steps, and incorporate a seemless payment integration
                                    as well.</p>
                                <p><strong>The Concept:</strong> An easy-to-use online beer ordering service. <br>
                                    <strong>The Audience:</strong> Companies/Organizations wanting to celebrate the end to a productive week with their staff or maybe even to help inspire new ideas - hence the name <strong>DeskBrews</strong>.</p>
                                <p>The app is responsive, thanks to the use of Bootstrap, and the payment process with Stripe is mobile formatted as well, so it's easy enough to use on a mobile device or tablet. </p>
                                <p class="text-muted">The app was built using Ruby on Rails, and utilizes the Stripe API for payment processing</p>

                                <div class="text-center">
                                    <p><a href="http://www.deskbrews.com" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/WDI-PROJECT-2" class="btn btn-primary" role="button" target="_blank">View The Code</a>                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#DuckHunter" class="portfolio-box">
                    <img src="img/portfolio/duck_hunter.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                WDI-16 Project One
                            </div>
                            <div class="project-name">
                                Duck Hunter
                            </div>
                        </div>
                    </div>
                </a>
                <div id="DuckHunter" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="projectTitle modal-title">Duck Hunter</h4>
                            </div>
                            <div class="modal-body">
                                <p>My first project was based on the original 80’s game Duck Hunt, but combining a two player game. In order to get the duck to move on the game area, I incorporated the GreenSock JavaScript library.</p>
                                <p class="text-muted">The game was built using HTML5, CSS and JavaScript.</p>
                                <div class="text-center">
                                    <p><a href="https://calm-sea-7889.herokuapp.com/" class="btn btn-primary" role="button" target="_blank">Visit Website</a> <a href="https://github.com/ggomersall/WDI-PROJECT-1" class="btn btn-primary" role="button" target="_blank">View The Code</a>                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>